<div class="u-bg-brand">
    <div class="o-container o-container--large">
        <ul class="c-nav c-nav--inline u-bg-brand">
            <li class="c-nav__item">
                <a href="#">Home</a>
            </li>
            <li class="c-nav__item">
                <a href="#">News</a>
            </li>
            <li class="c-nav__item c-nav__item--right">
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</div>