<ul class="sg-colors">
    <li>
        <span class="sg-swatch u-bg-brand"></span>
        <span class="sg-label">
			.u-bg-brand <br>
			#2c3e50
		</span>
    </li>
    <li>
        <span class="sg-swatch u-bg-orange-dark"></span>
        <span class="sg-label">
			.u-bg-orange-dark <br>
			#d17d00
		</span>
    </li>
</ul>