<ul class="sg-colors">
    <li>
        <span class="sg-swatch u-bg-success"></span>
        <span class="sg-label">
			.u-bg-success <br>
			#4caf50
		</span>
    </li>
    <li>
        <span class="sg-swatch u-bg-error"></span>
        <span class="sg-label">
			.u-bg-error <br>
			#f44336
		</span>
    </li>
    <li>
        <span class="sg-swatch u-bg-info"></span>
        <span class="sg-label">
			.u-bg-info <br>
			#2196f3
		</span>
    </li>
</ul>