<div class="c-card c-card--equal-height">
    {{>atoms-image}}
    <header class="c-card__header">
        <h2 class="c-heading">
            {{ title }}
        </h2>
    </header>
    <div class="c-card__body">
        {{> atoms-text}}
        {{>atoms-button:c-button--brand(buttonText: "Read more")}}
    </div>
</div>