<ul class="c-nav c-nav--inline">
    <li class="c-nav__item"><i class="fas fa-home"></i> Home</li>
    <li class="c-nav__item"><i class="fas fa-star"></i> News</li>
    <li class="c-nav__item c-nav__item--right"><i class="fas fa-user"></i> Contact</li>
</ul>