<button class="c-button {{ styleModifier }}" type="button">
    {{# buttonText }}
        {{ buttonText }}
    {{/ buttonText }}
    {{^ buttonText }}
        I'm a button
    {{/ buttonText}}
</button>