<ul class="c-list">
    <li class="c-list__item"> Lorem ipsum dolor sit amet </li>
    <li class="c-list__item"> Consectetur adipisicing elit</li>
    <li class="c-list__item"> Aperiam dolor hic libero nobis optio?</li>
    <li class="c-list__item"> Accusamus adipisci assumenda beatae blanditiis</li>
    <li class="c-list__item"> Consectetur deleniti dolor eligendi facere ipsam iste odio vel voluptatem!</li>
    <li class="c-list__item"> Quaerat </li>
</ul>