<p class="c-paragraph"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda autem corporis deserunt eaque eveniet ex, facilis fugiat iure labore libero, maxime minima nisi nulla quis ratione repellendus sint voluptates.</span></p>