<footer class="o-container u-bg-brand">
    <div class="o-container o-container--large">
        <div class="u-window-box-super">
            <div class="o-grid">
                <div class="o-grid__cell">
                    <ul class="c-list c-list--unstyled">
                        <li class="c-list__item"><a class="u-color-white" href="#">Home</a></li>
                        <li class="c-list__item"><a class="u-color-white" href="#">News</a></li>
                        <li class="c-list__item"><a class="u-color-white" href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="o-grid__cell">

                </div>
                <div class="o-grid__cell u-color-white">
                    <address class="c-address u-letter-box-none">
                        <span class="c-address__heading">The Simpsons,</span>
                        742 Evergreen Terrace,<br>
                        Springfield,<br>
                        80085,<br>
                        USA
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>